*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
   
    overflow-x: hidden;
    
}
#home{
   
    border-left: none;
       height: 70vh;
       width: 108%;
       padding: 0 7%;
       display: table;
       background-color: #646763;
       text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      margin-bottom: 2px;
      max-width: none;
      
       
   
}

h1{
    position: relative;
       top:60px;
       font-size: 40px;
       left: -20px;
       margin-bottom: 2px;
}
.sub-con{
    position: relative;
    top: 50px;
    left: -2%;
}
ul li a{
    list-style: none;
    text-decoration: none;
    font-size:14px;
    color: #B9EEEC;
    
}
ul li{
    display: inline;
    padding-left: 10px;
    position: relative;
    left: 18%;
    top: -25px;
    
    
    
    
}



img{
    width: 40px;
    height: 60px;
    position: relative;
    left: -49%;
    margin-bottom: 2px;
    

    top: 20px;
}

h5{
    position: relative;
    left: -39%;
    top: 20px;
    font-size: 20px;
    font-style: italic;
   
}

#btn1{
    position: relative;
    top: 90px;
    width: 200px;
    height: 60px;
    left: 26px;
    display: inline;
    background-color: #0EF699;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius:20px ;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    border-bottom-color: white;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);

}
a{
    text-decoration: none;
    color: #000000;
}
#btn1:hover{
    background-color: #FFE194;
    color:white;

}
.img{
    width: 45px;
    height: 40px;
    position: relative;
  
    top: 30vh;
    left: -72%;
}

h3 a{
    position: relative;
    top: 150px;
    left:-38%;
    color: wheat;
   text-decoration: none;
   
}


/* section two */
#about{
    
    height: 70vh;
    width: 108%;
    background-color: #8AA183;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2px;
   
}

h2{
    position: relative;
    top:55px;
    font-size: 22px;
    margin-bottom: 75px;
}

p{
    position: relative;
    left: -60px;
    right: 10px;
    top: 20px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-left: 20%;
    padding-right: 20px;
    
}

#subscribe{
   
    height: 91vh;
    width: 108%;
    background-color: #328F69;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}

h2{
    font-weight: bold;
    color: #F4C7AB;
    position: relative;
    left: -10px;
}

.subs{
    float: left;
    letter-spacing: 3px;
    position: relative;
    top: 20px;
    left:-40px;
    padding: 4px;
    padding-left: 10%;
    padding-right: 20px;
}
.txt{
    position: relative;
    top: 58px;
    display: block;
    left: 20%;
    width: 20em;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    outline: none;
    text-align: center;
    box-shadow: 10px 10px 10px black;
  

}
.btn{
    position: relative;
    top: 40px;
    left:-14px;
    width: 10em;
    height: 40px;
    background-color: #16F5A2;
    color: #003CFF;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    cursor: pointer;
    margin-bottom: 6px;
}

.txt:hover{
    color: black;
    font-weight: bold;
}



h4{
    position: relative;
    top: 50px;
    left: -12px;
    color:black;
    font-weight:bold;
}


@media screen and (min-width: 1200px) {
    body{
   
        overflow-x: hidden;
        
    }
    
    #home{
           height: 70vh;
           width: 100%;
           padding: 0 7%;
           display: table;
           background-color: #646763;
           text-align: center;
          font-family: 'Montserrat', sans-serif;
          font-weight: bold;
          margin-bottom: 2px;
          max-width: none;
          
           
       
    }
    
    h1{
        position: relative;
           top:60px;
           font-size: 60px;
           left: 10px;
           margin-bottom: 2px;
         
    }
    h1:hover{
        animation: rot 1s linear;
        
    }
    .sub-con{
        position: relative;
        top: 50px;
        left: -2%;
    }
    ul li a{
        list-style: none;
        text-decoration: none;
        font-size:22px;
        color: #B9EEEC;
        
    }
    ul li{
        display: inline-block;
        padding-left: 40px;
        position: relative;
        left: 26rem;
        top: -25px;
        
        
        
        
    }
    
    
    
    img{
        width: 68px;
        height: 60px;
        position: relative;
        left: -49%;
        margin-bottom: 2px;
        
    
        top: 30px;
    }
    
    h5{
        position: relative;
        left: -39%;
        top: 20px;
        font-size: 20px;
        font-style: italic;
       
    }
    
    #btn1{
        position: relative;
        top: 145px;
        width: 200px;
        height: 60px;
        display: inline;
        background-color: #0EF699;
        color: #000000;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: bold;
        border-radius:20px ;
        border-top-color: white;
        border-left-color: white;
        border-right-color: white;
        border-bottom-color: white;
        cursor: pointer;
        box-shadow: 10px 10px 10px rgb(0, 0, 0);
    
    }
    a{
        text-decoration: none;
        color: #000000;
    }
    #btn1:hover{
        background-color: #FFE194;
        color:white;
    
    }
    .img{
        width: 45px;
        height: 40px;
        position: relative;
      
        top: 30vh;
        left: -50%;
    }
    
    h3 a{
        position: relative;
        top: 160px;
        left:-37%;
        color: wheat;
       text-decoration: none;
       
    }
    
    
    /* section two */
    #about{
        
        height: 70vh;
        width: 100%;
        background-color: #8AA183;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 2px;
       
    }
    
    h2{
        position: relative;
        top:55px;
        font-size: 30px;
        margin-bottom: 75px;
    }
    
    p{
        position: relative;
        left: -80px;
        right: 10px;
        top: 50px;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 2px;
        
    }
    
    #subscribe{
        height: 85vh;
        width: 100%;
        background-color: #328F69;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        
    }
    
    h2{
        font-weight: bold;
        color: #F4C7AB;
    }
    
    .subs{
        float: left;
        letter-spacing: 3px;
        position: relative;
        top: 20px;
        left: 20%;
        padding: 4px;
    }
    .txt{
        position: relative;
        top: 56%;
        display: block;
        left: -400px;
        width: 20em;
        height: 50px;
        margin-bottom: 10px;
        border-radius: 10px;
        outline: none;
        text-align: center;
        box-shadow: 10px 10px 10px black;
      
    
    }
    .btn{
        position: relative;
        top: 58%;
        left: -35%;
        width: 10em;
        height: 40px;
        background-color: #16F5A2;
        color: #003CFF;
        font-weight: bold;
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgb(0, 0, 0);
        cursor: pointer;
    }
    
    .txt:hover{
        color: black;
        font-weight: bold;
    }
    
    
    
    h4{
        position: relative;
        top: 350px;
        left: -35%;
         color:black;
        font-weight:bold;
    }
    @keyframes rot {
        from{
            transform: rotate(0deg);
        }    
    
        to{
            transform: rotate(365deg);
        }
    }
}



